/*  Universal style  */
body { padding-top: 50px; }

/*  Font Size
---------------------------------------------*/


@media (max-width: 575.98px) {
  p{
    font-size: 16px;
  }
  h1{
    font-size: 28px;
  }
  h2{
    font-size: 20px;
  }

 }


@media (min-width: 576px) and (max-width: 767.98px) {
  p{
    font-size: 16px;
  }
  h1{
    font-size: 33px;
  }
  h2{
    font-size: 23px;
  }

 }

@media (min-width: 768px) and (max-width: 991.98px) {
  p{
    font-size: 16px;
  }
  h2{
    font-size: 25px;
  }

 }


@media (min-width: 992px) and (max-width: 1199.98px) {
  p{
    font-size: 18px;
  }
  h2{
    font-size: 25px;
  }

 }


@media (min-width: 1200px) {
  p{
    font-size: 18px;
  }
  h2{
    font-size: 25px;
  }
 }


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer{
  height: 178px;
  background-color: #f5f5f5;
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
  font-size: 18px;

}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

/*　　ここからは、さんかが入れたコード　　*/

/*  Headder Section  */
.navbar-default .navbar-brand {
  color: #5B6F02;
  font-weight: bold;
}


/*  Jumbotron Section  */

.jumbotron p,h1{
  text-align: center;
}


.jumbotron p{
  font-weight: bold;
  margin-top: 15px;
}
.jumbotron .point1{
  color: #2e6da4;
}
.jumbotron .point2{
  color: #b22222;
}

.jumbotron .btn-lg{
  margin: 10px auto;
  padding: 15px;
}


/*  Lawyer-Img section  */

.img-responsive{
  max-width: 100%;
  height: auto;
  display: block;

}

/*  Main Section  */

.text1 p{
  text-align: center;
}


/*  About Page  */

.name h1{
  color: #5B6F02;
  font-weight: bold;
  margin-bottom: 23px;
}




.hidenori-photo{
  display: flex;
  justify-content: center;
}

/*  Grid System  */




.row h2{
  background-color: #5B6F02;
  color: white;
  padding: 8px;
}


/* Footer section  */

footer p{
  text-align: center;
  line-height: 160%;
}
