p {
  font-size: 1.25rem;
}


hr {
  border-color: white;
}
.lh-3{
  line-height: 3rem;
}

.hidenori-photo{
  background-image: url(../../childcustody2/childcustody-resources/images/AdobeStock_102201383_Preview.png);
}


.btn-primary {
  background-color: #066E83;
  border-color: #066E83;
}

a {
  color: #066E83;
}
