body{
  margin-bottom: 78px;
}
p{
  font-size: 1.25rem;
}
.text-small{
  font-size: 1rem;
}

.lh-3{
  line-height: 3rem;
}

.hidenori-photo{
  background-image: url(../top-resorces/top-images/AdobeStock_189603333.jpg);
}

.bg-bluegreen{
  background-color: #17a2b8;
}
.bg-darkgreen{
  background-color: #0c5460;
}
.bg-darkgreen2{
  background-color: #577750;
}
.border-bluegreen-thick{
  border: solid;
  border-width: thick;
  border-color: #17a2b8;
}
.bg-tomato{
  background-color: #EE3510;
}

.text-tomato{
  color: #EE3510;
}
.text-yellow{
  color: #ffc107;
}

.text-bluegreen{
  color: #17a2b8;
}
.text-darkgreen{
  color: #0c5460;
}
.text-grey{
  color: #6c757d;
}
.text-grey2{
  color: #495057;
}


a{
  color: #17a2b8
}
.dropdown-item.active, .dropdown-item:active{
  background-color: #0c5460;
}

.navbar-light .navbar-brand{
  color: #17a2b8;
}

.btn-primary{
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-primary:hover{
  background-color: teal;
  border-color: teal;
}
a:hover{
  text-decoration: none;
  color: #17a2b8;
}
.navbar-light .navbar-brand:hover {
    color: #28a745;
}
.indent-1{
  text-indent: 1em;
}
.indent-3{
  text-indent: 3rem;
}
.footer-font p{
  font-size: 1rem;
}

.procedure-box a{
  color: white;
}
.justline{
  border-right: 0.5rem solid;
  border-color: #0c5460;
  min-height: 3rem;

}
